__pycache__/
*.env
*.pyc
*.pyo
*.egg-info/
*.egg
*.pyc
*.log
*.swp
myenv/
chat_history.json

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.slnß
*.sw?
.env
env/